.jumbotron {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e49322;
  color: #ffffff;
  margin-top: 3%;
  text-align: center;
}
#addedburger {
  color: #5c5c5c;
}
#readyToEat {
  background-color: #5c5c5c;
  color: white;
  text-align: center;
  font-size: 1.3em;
}
#devouredBurgers {
  background-color: #B22222;
  color: white;
  text-align: center;
  font-size: 1.3em;
}
